body {
    background-color: #f1f1f2;
}

.btn {
    height: 50px;
    font-size: 1em;
    font-weight: 700;
}

.calculator-body {
    max-width: 405px;
}
.display{
    height: 80px;
    overflow: hidden;
}
.output {
    font-size: 2rem;
}